<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    objects {{objects | json}}
                    <ul>
                        <li *ngFor="let object of objects">
                          <strong>{{ object.Key }}</strong>
                          <p>{{ object.Size }}</p>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
