<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    
                    img1: <br><img src="data:image/jpeg;base64,{{ imageUrl }}" alt="Image from S3" />
                    <ul>
                        <li *ngFor="let object of objects">
                          <strong>{{ object.Key }}</strong> ||  
                          <strong>{{ object.Size }}</strong>  ||  
                          <strong>{{ object.LastModified | date:'dd/mm/yyyy'}}</strong>
                        </li>
                      </ul>
                </div>

                <input type="file" id="archivo" />
                <button (click)="subirArchivo()">Subir imagen</button> 
            </div>
        </div>
    </div>
</div>
